<div class="jumbotron">
    <h2 class="display-3">Bienvenido/a</h2>
    <hr>
    <blockquote class="blockquote">
        <p class="lead">"Creo firmemente que la gente es recordada por lo que construyó. 
            Si construyes algo grande, poco importa lo que digan de ti en un documental, 
            la gente se queda con lo que construiste."</p>
            <footer class="blockquote-footer">Mark Zuckerberg</footer>
    </blockquote>
    <br>
</div>
<div>
    <app-profile-overview></app-profile-overview>
</div>
