.align-center{
    position: absolute;
    top:30%;
    left:50%;
    width: 40%;
    margin-left:-20%;
    height:50%;
    margin-top:-5%;
    padding: 25px;    
    text-align: center;
}

.btn-primary-material{
    background-color: #3949AB;
    color: #ffffff;
}

.btn-primary-material:hover{
    background-color: #5C6BC0;
}